__pycache__
*.png
*.dat
*.egg-info
method_tests/efield_generation/res_check
**/?_output*
timer.dat
docs/build
docs/source/_autosummary
.coverage
**/dbstep_sanity_check/data
docker_testing_environment/requirements.txt
dist
validation/steric_parameter_distribution_plotting/plots
build
